<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Hacker News | Web Scraper</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="leading-normal bg-gray-100 text-gray-600 antialiased">
    <div id="app">
        <header>
            <nav class="py-3 bg-gray-800">
                <div class="container mx-auto px-6">
                    <div class="flex items-center">
                        <a href="" class="block text-white font-extrabold uppercase tracking-wide">
                            Hacker <span class="font-thin">News</span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="py-6">
            <div class="container mx-auto px-6">
                <h3 class="font-bold text-lg text-gray-800 mb-4">Top News Articles</h3>

                {% for article in articles %}
                    <div class="max-w-xl bg-white rounded overflow-hidden shadow mb-4">
                        <div class="px-6 py-4">
                            <a target="_blank" href="{{ article.link }}">
                                <h4 class="font-medium mb-2 text-gray-800">
                                    {{ article.title }}
                                </h4>

                                <div class="text-sm text-gray-600">
                                    {{ article.votes }} Points
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>

        <footer class="py-6">
            &nbsp;
        </footer>
    </div>
</body>
</html>
